{% extends "layout.html" %}
{% block body %}
{% if article %}

<h4>{{article.id}}</h4>
<hr>
<li class="list-group-item list-group-item-success">title:{{article.title}}</li>
 
  
  <li class="list-group-item list-group-item-info">author:{{article.author}}</li>
 
  <li class="list-group-item list-group-item-dark">created date :{{article.created_date}}</li>
  <li class="list-group-item list-group-item-warning">article content:{{article.content|safe}}</li>



{% else %}
<div class= "alert alert-danger">article is not exist</div>
{% endif %}
{% endblock body %}